Meta
doc
inst/doc
.DS_Store
.project
.svn
.gitignore
.Rproj.user
src/*.o
src/*.so
config.status
config.log
*.Rproj
.Rhistory
.idea
.Rbuildignore
src/gslbuild
src/gsl-1.13
src/Makevars
cmake-build-debug
tests/testthat/Rplots.pdf
